.Rproj.user
.Rhistory
.RData
.Ruserdata
.gph
.png
.html
.dta
Predicted_ERC_graph6.gph
Predicted_ERC_graph6.png
Table_1.html
event_study_ADCpaid_by_funding_PMRC_graph5.gph
event_study_ADCpaid_by_funding_PMRC_graph5.png
event_study_ERC_by_funding_PMRC_graph3.gph
event_study_ERC_by_funding_PMRC_graph3.png
event_study_NC_by_funding_PMRC_graph2.gph
event_study_NC_by_funding_PMRC_graph4.png
event_study_liability_by_funding_PMRC_graph2.gph
event_study_liability_by_funding_PMRC_graph2.png
event_study_report_discount_100_fund_status_PMRC_figure1.png
ppd_data_regression_abfm.dta
